.container{
    width: 25%;
    background-color: rgba(0, 0, 0, 0.281);
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 1px 6px 0px black;
}

form{
    margin-top: 25vh;
}

button{
    margin-top: 20px;
}

input{
    margin-bottom: 10px;
}